<div ng-controller="receivePaymentListController as vm">
    <div class="panel panel-default">
        <div class="panel-heading">Payment Receive List</div>
        <div class="panel-body">
            <div class="col-md-2">
                <a ng-href="#/Finance/ReceivePayment" class="btn btn-primary" role="button">Receive New Payment</a>                
                @*<button ng-click="vm.displayFinishProductDetails()" class="btn btn-primary" ng-disabled="vm.disableEdit" style="margin:10px 0 10px 0">Display Detail</button>*@
            </div>
            <div class="col-md-12">
                <div id="saleDistributionListGrid" ui-grid="vm.gridOptions" ui-grid-selection class="uigridfull"></div>
            </div>
        </div>
    </div>
</div>