<div ng-controller="salesRequisitionController as vm">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Sales Requisition</div>
            <div class="panel-body">
                <form id="frmNewSales" role="form" name="frmNewSales" class="" novalidate>
                    <div class="form-group">
                        <div class="col-md-3">
                            
                                <label for="distributorId">Distributor</label>
                                <select id="distributorId" class="form-control" ng-model="vm.selectedDistributor" ng-options="option.distributorName for option in vm.distributors track by option.id" disabled>
                                    <option value="">---Please select---</option>
                                </select>
                            
                        </div>
                        <div class="col-md-3">
                            
                                <label for="paymentMode">Payment Mode</label>
                                <select id="paymentMode" class="form-control" ng-model="vm.selectedpaymentMode" disabled>
                                    <option value="">---Please select---</option>
                                    <option value=0>Cash</option>
                                    <option value=1>Credit</option>
                                </select>
                           
                        </div>
                        <div class="col-md-3">
                           
                                <label for="creditDays">Credit Days</label>
                                <input id="creditDays" name="creditDays" ng-model="vm.sales.creditDays" class="form-control" disabled />
                           
                        </div>
                   
                        <div class="col-md-3">
                           
                                <label for="remarks">Remarks</label>
                                <input id="remarks" ng-model="vm.sales.remarks" class="form-control" placeholder="Enter Remarks Here" required disabled />
                          
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Requisition Details</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div id="purchaseItemGrid" ui-grid="vm.gridOptions" ui-grid-selection class="uigrid"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-footer">
            <div class="col-md-12">
                <a href="#/sales/requisitionlist" class="btn btn-primary"><i class="fa fa-backward"></i>&nbsp;Back</a>
            </div>
        </div>
    </div>
</div>